<h1><%= @event.title %></h1>

<p><strong>Description :</strong> <%= @event.description %></p>
<p><strong>Date :</strong> <%= @event.start_date.strftime("%d %b %Y %H:%M") %></p>
<p><strong>Durée :</strong> <%= @event.duration %> minutes</p>
<p><strong>Prix :</strong> <%= @event.price %> €</p>
<p><strong>Lieu :</strong> <%= @event.location %></p>
<p><strong>Organisateur :</strong> <%= @event.admin.first_name %> <%= @event.admin.last_name %></p>

<%= link_to "Modifier", edit_event_path(@event), class: "btn btn-warning" %> |
<%= link_to "Retour à la liste", events_path, class: "btn btn-secondary" %> |
<%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
